nav {
    width:172px;
    display: block;
    position:absolute;
    font-size:13px;
    margin-left:10px;
}

nav .group {
    margin-bottom:15px;
}

nav .group_title {
    font-weight: bold;
    color:#666666;
    padding: 4px 3px;
}

nav .nav_menu {
    padding: 4px 4px;
    cursor:pointer;
    border-radius: 2px;
    color:#000;
}

nav .nav_menu:hover {
    background-color: #CACDDA;
}